.topnav-container {
  background-color: #337ab6;
  height: 50px;
  .container {
    position: relative;
  }
}

.topnav__item {
  color: #fff;
  display: inline-block;
  width: 80px;
  line-height: 30px;
  text-align: center;
  margin-top: 12px;
  &:hover, &.active{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
  }
}

.navs {
  margin-left: 50px;
}

.topnav__icon {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 30px;
  top: 8px;
  color: #fff;
  font-size: 25px;
}
